button
{
  border-radius: 10px;
  height: 64px;
  margin: 4px;
  width: 64px;
}
canvas
{
  border:1px solid #CCCCCC;
  background-color: #333333;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
div
{
  display: block;
  float: left;
  padding: 2px 4px;
  text-align: center;
  width: auto;
}
