body
{
  background-color: #000000;
}
canvas
{
  border:1px solid #CCCCCC;
  background-color: #000000;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

div.divButtonGroup
{
  display: inline-block;
  margin: 0px 16px;
  text-align: center;
  vertical-align: bottom;
}

button.arrow
{
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  margin: 0px;
  width: 32px;
}

div.divMain
{
  text-align: center;
}

div.divCanvas
{
  display: inline-block;
  width: 600px;
}

div.divSidePanel
{
  border: 2px solid #DDDDDD;
  background-color: #888888;
  display: inline-block;
  margin-left: 5px;
  min-height: 600px;
  min-width: 200px;
  text-align: center;
  vertical-align: top;
}
