button.tab_inactive
{
  background-color: #666666;
  font-weight: 400;
  height: 64px;
  padding: 1px;
  width: 64px;
}

button.tab_active, button.tab_active:disabled
{
  background-color: #9999AA;
  color: #222244;
  font-weight: 800;
  height: 64px;
  padding: 1px;
  width: 64px;
}

button.panel
{
  font-weight: 700;
  min-height: 50px;
  width: 45%;
}

button.arrow
{
  border-radius: 10px;
  font-size: 32px;
  font-weight: 600;
  height: 64px;
  margin: 0px;
  width: 64px;
}

button.topButton
{
  border-radius: 5px;
  font-size: 32px;
  font-weight: 600;
  height: 64px;
  margin: 0px;
}

table.infoPanel
{
  color: #EEEEEE;
  font-size: 18px;
  font-weight: 550;
  margin: 4px;
  min-width: 128px;
}

div.text_area
{
  background-color: #EEEEEE;
  border: 1px solid;
  display: inline-block;
  font-size: 20px;
  font-weight: 550;
  height: 128px;
  margin: 4px;
  min-width: 256px;
  overflow-y: scroll;
  padding: 4px;
  text-align: left;
}
