button.tab_inactive
{
  background-color: #666666;
  font-weight: 400;
  height: 64px;
  padding: 1px;
  width: 64px;
}

button.tab_active, button.tab_active:disabled
{
  background-color: #9999AA;
  color: #222244;
  font-weight: 800;
  height: 64px;
  padding: 1px;
  width: 64px;
}

button.panel
{
  font-weight: 700;
  min-height: 50px;
  width: 45%;
}

button.arrow
{
  border-radius: 12px;
  font-size: 40px;
  font-weight: 800;
  height: 80px;
  margin: 4px 2px;
  width: 80px;
}

button.topButton
{
  border-radius: 5px;
  font-size: 32px;
  font-weight: 600;
  height: 64px;
  margin: 4px 0px;
}

table.infoPanel
{
  color: #EEEEEE;
  font-size: 26px;
  font-weight: 550;
  margin: 4px;
  min-width: 128px;
  padding: 4px 0px;
}

div.text_area
{
  background-color: #EEEEEE;
  border: 1px solid;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  height: 128px;
  margin: 4px;
  max-width: 960px;
  min-width: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 4px;
  text-align: left;
  width: 100%;
}

/* mobile css */
@media screen and (max-width: 1160px)
{
  div.text_area
  {
    font-size: 26px;
    font-weight: 650;
  }

  div.text_area::-webkit-scrollbar
  {
    background: #000;
    background-color: #DCCCCC;
    width: 64px;
  }

  div.text_area::-webkit-scrollbar-thumb
  {
    background: #8E8888;
  }
