button.tab_inactive
{
  background-color: #666666;
  font-weight: 400;
  height: 64px;
  padding: 1px;
  width: 64px;
}

button.tab_active, button.tab_active:disabled
{
  background-color: #9999AA;
  color: #222244;
  font-weight: 800;
  height: 64px;
  padding: 1px;
  width: 64px;
}

button.panel
{
  font-weight: 700;
  min-height: 50px;
  width: 45%;
}

button.ui
{
  background-color: #CCCCDD;
  border-radius: 12px;
  font-size: 32px;
  font-weight: 800;
  height: 80px;
  margin: 4px 2px;
  width: 80px;
  background-size: cover;
}

button.topButton
{
  border-radius: 5px;
  font-size: 32px;
  font-weight: 600;
  height: 64px;
  margin: 4px 0px;
  min-width: 170px;
}

table.infoPanel
{
  color: #EEEEEE;
  font-size: 26px;
  font-weight: 550;
  margin: 4px;
  min-width: 128px;
  padding: 4px 0px;
}

div.text_area
{
  background-color: #EEEEEE;
  border: 1px solid;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  height: 128px;
  margin: 4px;
  max-width: 960px;
  min-width: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 4px;
  text-align: left;
  width: 100%;
}

/* ui buttons */
button#button_pickup        { background-image: url('../res/ui/button_pickup.png'); }
button#button_pickup:hover  { background-image: url('../res/ui/hover_pickup.png'); }
button#button_pickup:active { background-image: url('../res/ui/button_pickup.png'); background-color: #9999AA; }

button#button_stairs        { background-image: url('../res/ui/button_stairs.png'); }
button#button_stairs:hover  { background-image: url('../res/ui/hover_stairs.png'); }
button#button_stairs:active { background-image: url('../res/ui/button_stairs.png'); background-color: #9999AA; }

button#button_lens          { background-image: url('../res/ui/button_lens.png'); }
button#button_lens:hover    { background-image: url('../res/ui/hover_lens.png'); }
button#button_lens:active   { background-image: url('../res/ui/button_lens.png'); background-color: #9999AA; }


button#button_upleft           { background-image: url('../res/ui/button_upleft.png'); }
button#button_upleft:hover     { background-image: url('../res/ui/hover_upleft.png'); }
button#button_upleft:active    { background-image: url('../res/ui/button_upleft.png'); background-color: #9999AA; }

button#button_up           { background-image: url('../res/ui/button_up.png'); }
button#button_up:hover     { background-image: url('../res/ui/hover_up.png'); }
button#button_up:active    { background-image: url('../res/ui/button_up.png'); background-color: #9999AA; }

button#button_upright           { background-image: url('../res/ui/button_upright.png'); }
button#button_upright:hover     { background-image: url('../res/ui/hover_upright.png'); }
button#button_upright:active    { background-image: url('../res/ui/button_upright.png'); background-color: #9999AA; }


button#button_left         { background-image: url('../res/ui/button_left.png'); }
button#button_left:hover   { background-image: url('../res/ui/hover_left.png'); }
button#button_left:active  { background-image: url('../res/ui/button_left.png'); background-color: #9999AA; }

button#button_right        { background-image: url('../res/ui/button_right.png'); }
button#button_right:hover  { background-image: url('../res/ui/hover_right.png'); }
button#button_right:active { background-image: url('../res/ui/button_right.png'); background-color: #9999AA; }


button#button_downleft         { background-image: url('../res/ui/button_downleft.png'); }
button#button_downleft:hover   { background-image: url('../res/ui/hover_downleft.png'); }
button#button_downleft:active  { background-image: url('../res/ui/button_downleft.png'); background-color: #9999AA; }

button#button_down         { background-image: url('../res/ui/button_down.png'); }
button#button_down:hover   { background-image: url('../res/ui/hover_down.png'); }
button#button_down:active  { background-image: url('../res/ui/button_down.png'); background-color: #9999AA; }

button#button_downright         { background-image: url('../res/ui/button_downright.png'); }
button#button_downright:hover   { background-image: url('../res/ui/hover_downright.png'); }
button#button_downright:active  { background-image: url('../res/ui/button_downright.png'); background-color: #9999AA; }

/* mobile css */
@media screen and (max-width: 1160px)
{
  div.text_area
  {
    font-size: 26px;
    font-weight: 650;
  }

  div.text_area::-webkit-scrollbar
  {
    background: #000;
    background-color: #DCCCCC;
    width: 64px;
  }

  div.text_area::-webkit-scrollbar-thumb
  {
    background: #8E8888;
  }
