button.arrow
{
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  height: 64px;
  margin: 0px;
  width: 64px;
}
canvas
{
  border:1px solid #CCCCCC;
  background-color: #333333;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
div.buttonGroup
{
  float: left;
  display: inline-block;
  margin: 0px 16px;
  text-align: center;
  vertical-align: top;
}

#divTop
{
  width: 100%;
  display: block;
}
#divCanvas
{
  max-width: 700px;
  display: inline-block;
}
#divInfo
{
  display: inline-block;
  min-width: 264px;
  text-align: center;
  vertical-align: top;
  width: 20%;
}

#divController
{
  display: block;
  margin: 4px;
  max-width: 700px;
  text-align: center;
  vertical-align: top;
}

img.room
{
  border: 2px solid;
}
